<div class="container">
    <section>

        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="12000" [keyboard]="true" [pauseOnHover]="true" [wrap]="true" [activeId]="'secondSlide'">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/a.jpeg" alt="Angular Carousel 1" style="width: 700px;height: 400px;">
                </div>
                <div class="carousel-caption">
                    <h3>Title Goes Here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/c.jpeg" alt="Angular Carousel 2" style="width: 700px;height: 400px;">
                </div>
                <div class="carousel-caption">
                    <h3>Title Goes Here</h3>
                    <p>Consectetur tortor volutpat pretium.</p>
                </div>
            </ng-template>
        </ngb-carousel>

    </section>


</div>
<div class="music">

    <div class="row">
        <div class="col-md-8">
            <strong class="header">List </strong>
            <div class="row" style="margin-top:7px">

                <div class="col-md-4">
                    <div class="onerow content_img">

                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="" height="60%" width="100%" style="border-radius:2%;">

                        <div><span class="material-icons">
                                favorite_border
                            </span><span class="material-icons">
                                play_circle_outline
                            </span></div>


                    </div>
                    <label for="">Cún con</label>
                </div>
                <div class="col-md-4">
                    <div class="onerow content_img">

                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="" height="60%" width="100%" style="border-radius:2%;">

                        <div><span class="material-icons">
                                favorite_border
                            </span><span class="material-icons">
                                play_circle_outline
                            </span></div>


                    </div>
                    <label for="">Cún con</label>
                </div>
                <div class="col-md-4">
                    <div class="onerow content_img">

                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="" height="70%" width="100%" style="border-radius:2%;">

                        <div><span class="material-icons">
                                favorite_border
                            </span><span class="material-icons">
                                play_circle_outline
                            </span></div>

                    </div>
                    <label for="">Cún con</label>
                </div>

            </div>

        </div>
        <div class="col-md-4 ">
            <strong class=" header ">Album</strong>
            <table class="table table-hover">

                <tbody>
                    <tr class="row " style="margin-top:7px;padding-bottom: 5px;border-bottom: 1px solid brown ; ">
                        <div class="col-md-3 "><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png " alt=" " height="105% " width="130% " style="border-radius:50%; "></div>
                        <div class="col-md-9 ">

                            <div style="margin-left: 10%;margin-top: 10%; ">
                                <strong>title</strong><br>
                                <label for=" ">author</label>
                            </div>

                        </div>

                    </tr>
                    <tr class="row " style="margin-top:7px;padding-bottom: 5px;border-bottom: 1px solid brown ; ">
                        <div class="col-md-3 "><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png " alt=" " height="105% " width="130% " style="border-radius:50%; "></div>
                        <div class="col-md-9 ">

                            <div style="margin-left: 10%;margin-top: 10%; ">
                                <strong>title</strong><br>
                                <label for=" ">author</label>
                            </div>


                        </div>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="music">

    <div class="row">

        <h2>List trash</h2>
        <table class="table table-hover">

            <tbody>
                <tr class="rowoftable">
                    <td><span>1</span><span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png " alt=" " height="10% " width="10% " style="border-radius:2%; "></span>
                        <span>Con chó con</span>
                        <span>Tác giả</span>
                        <span>Thời lượng</span>
                        <span class="material-icons" style="color: red;">
                            favorite
                            </span>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>