<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign in</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" style="color: #757575;" action="#!">
            <div class="form-group text-center message">
                <span *ngIf="message.length > 0" class="register modal-dialog ">{{ message }}</span>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="materialLoginFormEmail">E-mail:</label>
                <input type="email" id="materialLoginFormEmail" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Trường này bắt buộc</div>
                    <div *ngIf="f.email.errors.email">Vui lòng nhập email đúng định dạng</div>
                </div>

            </div>

            <!-- Password -->
            <div class="md-form">
                <label for="materialLoginFormPassword">Password:</label>
                <input type="password" id="materialLoginFormPassword" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Trường này bắt buộc</div>
                    <div *ngIf="f.password.errors.pattern || f.password.errors.minlength ">Nhập mật khẩu ít nhất 9 ký tự</div>
                </div>

            </div>


            <!-- Sign in button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>
            <p>Not a member?
                <a href="">Register</a>
            </p>


        </form>


    </div>

</div>