<h1 mat-dialog-title>
    Album</h1>
<mat-dialog-content class="mat-typography">
    <table class="table table-hover ">

        <tbody>
            <tr class="row listalbum" *ngFor="let album of albumAsync  | async">
                <a [routerLink]="['/songsAlbum',album.albumId,album.title,album.cover_medium]" routerLinkActive="router-link-active" style="color: black;">


                    <span class="col-md-5 "><img src="{{album.cover_medium}} " alt=" " height="150px " width="150px " style="border-radius:50%; "></span>
                    <span class="col-md-7 ">
                            <strong>{{album.title}}</strong>
                    </span>


                </a>
            </tr>

        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>

</mat-dialog-actions>