.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    /* Height of the footer */
    background: #6cf;
}

.navv {
    bottom: 0;
    width: 100%;
    height: 8%;
    /* Height of the footer */
    background: #6cf;
}

h1 {
    text-shadow: 2px 2px red;
    font-size: 35px;
}

.overall {
    margin-top: 5%;
    background-color: #F1F1F1;
}